* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgba(14,14,14);
}

/** Fonts Config **/
h1 { font-size: 3em;}
h2 { font-size: 1.20em;}
h3 { font-size: 1.5em;}
p { font-size: 0.90em;}
/** End Fonts Config **/

/** Inicio de la navbar **/
header {
    background-color: #333;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header nav a{
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.7s;
}

nav a:hover {
    background-size: 100% 2px;
    color: rgb(151, 102, 82);
}

.logo {
    margin: 0;
    padding-top: 30px;
}

.logo img {
    height: 4.5em;
}
/** Fin de la navbar **/

/** Inicio Formulario Contacto **/
.contacto .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.contacto {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-shadow: 7px 10px 37px #000;
}

.contacto h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: rgb(151, 102, 82);
}

.controls {
    width: 100%;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #333;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.contacto p {
    height: 35px;
    text-align: center;
    font-size: 0.90em;
}

.contacto a {
    color: white;
    text-decoration: none;
}

.contacto a:hover {
    color: white;
    text-decoration: underline;
}

.contacto .boton {
    width: 100%;
    background-color: rgb(151, 102, 82);
    border: none;
    border-radius: 5px;b
    padding: 13px;
    color: white;
    font-size: 1em;
}
/** Fin Formulario Contacto **/