* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgba(14,14,14);
}

/** Fonts Config **/
h1 { font-size: 3em;}
h2 { font-size: 1.20em;}
h3 { font-size: 1.5em;}
p { font-size: 0.90em;}
/** End Fonts Config **/

/** Inicio de la navbar **/
header {
    background-color: #333;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header nav a{
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.7s;
}

nav a:hover {
    background-size: 100% 2px;
    color: rgb(151, 102, 82);
}

.logo {
    margin: 0;
    padding-top: 30px;
}

.logo img {
    height: 4.5em;
}
/** Fin de la navbar **/

/** Inicio Seccion Productos**/
#productos h1 {
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
	padding: 20px;
	font-family: Roboto, sans-serif;
	margin: 20px;
    color: rgb(151, 102, 82);
}

#productos .galeria-productos{
	margin: 20px;
    display: flex;
}

    #productos .galeria-productos figure{
    text-align: center;
    margin: 0 20px;
    }

        #productos .galeria-productos figure img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 90%;
        }
        
        #productos .galeria-productos figure img:hover {
            transform: scaleX(1.11);
            cursor: pointer;
            transition: transform 0.3s;
        }

            #productos .galeria-productos figure figcaption{
                font-size: 1.7rem;
                color: white ;
                padding-top: 10px;
            }

                #productos .galeria-productos button.price {
                    color: white;
                    padding: 15px;
                    background-color: #333;
                    border-radius: 5px;
                    width: 90%;
                }

                #productos .galeria-productos button.price:hover {
                    background: linear-gradient(to top,#333,#333);
                    color: rgb(151, 102, 82);
                    transition: all 0.5s;
                    cursor: pointer;
                }
/** Fin Seccion Productos**/
