* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgba(14,14,14);
}

/** Fonts Config **/
h1 { font-size: 3em;}
h2 { font-size: 1.20em;}
h3 { font-size: 1.5em;}
p { font-size: 0.90em;}
/** End Fonts Config **/

/** Inicio de la navbar **/
header {
    background-color: #333;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header nav a{
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.7s;
}

nav a:hover {
    background-size: 100% 2px;
    color: rgb(151, 102, 82);
}

.logo {
    margin: 0;
    padding-top: 30px;
}

.logo img {
    height: 4.5em;
}
/** Fin de la navbar **/

/** Buttos Design **/
    button {
        font-size: 0.90em;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        color: white;
        background-color: #111;
    }

    button:hover {
        background-color: rgb(151, 102, 82);
    }
/** End Buttons Design **/

/** Container Config **/
    .container {
        max-width: 1400px;
        margin: auto;
    }
/** End Container Config **/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../Img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/** Inicio Seccion Productos**/
#productos h1 {
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
	padding: 20px;
	font-family: Roboto, sans-serif;
	margin: 20px;
    color: rgb(151, 102, 82);
}

#productos .galeria-productos{
	margin: 20px;
    display: flex;
}

    #productos .galeria-productos figure{
    text-align: center;
    margin: 0 20px;
    }

        #productos .galeria-productos figure img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 90%;
        }

        #productos .galeria-productos figure img:hover {
            transform: scaleX(1.11);
            cursor: pointer;
            transition: transform 0.3s;
        }

            #productos .galeria-productos figure figcaption{
                font-size: 1.7rem;
                color: white ;
                padding-top: 10px;
            }

                #productos .galeria-productos button.price {
                    color: white;
                    padding: 15px;
                    margin: 10px;
                    background-color: #333;
                    border-radius: 5px;
                    width: 90%;
                }

                #productos .galeria-productos button.price:hover {
                    background: linear-gradient(to top,#333,#333);
                    color: rgb(151, 102, 82);
                    transition: all 0.5s;
                    cursor: pointer;
                }
/** Fin Seccion Productos**/

/** Inicio Seccion Sobre Nosotros **/
.sobre-nosotros .container{
    color: white;
    padding: 0px 20px 20px 20px;
    text-align: center;
}

.sobre-nosotros h3 {
    text-align: center;
    color: rgb(151, 102, 82);
    margin: 0;
    font-size: 1.5em;
    padding-top: 20px;
}

.sobre-nosotros p {
    margin: 0;
    padding: 5px;
}
/** Fin Seccion Sobre Nosotros **/

/** Inicio Seccion Preguntas **/
.preguntas-frecuentes .container {
    text-align: center;
    padding: 20px 20px;
}

.preguntas-frecuentes h3 {
    color: rgb(151, 102, 82);
    margin: 0;
}

.preguntas-frecuentes p {
    margin: 0;
    padding: 10px 15px;
    color: white;
}
/** Fin Seccion Preguntas **/


/** Inicio Google Maps **/
.googlemaps {
    width: 100%;
    padding: 25px;
    border: none;
}
/** Fin Google Maps **/







